{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/lancer/css/home.css') }}"/>
{% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
    {{ include('header.html.twig') }}
    <h1>Welcome to the Manticora project</h1>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <img width="400" height="500"  src="{{ asset('vendor/lancer/img/main_theme.jpg') }}"/>
                <p>
                    Project created and powered by Alexandr Kravchuk,
                    student PI-47 group Zhytomyr State Technological University
                    due to coursework for "Databases" subject.
                    Project based on Symfony 2 MVC framework, use Symfony 2 as routing and Controllers, Twig as templates.
                    Other features create via 'Workaround' and 'Reinventing the wheel' technologies.
                </p>
            </div>
        </div>
    </div>
{% endblock %}